@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin:0;
}

#headerCont{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:0;
}

#headerCont .promesse{
    width: 100%;
    margin: 0 2% 1%;
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    margin:0;
}

header li{
    list-style-type:none;
    padding:76px;
}

header li:hover{
    list-style-type:none;
    border-top:1px solid #0068fc;
    padding:76px
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color:#0068fc;
    text-decoration: none;
}
/****************************************************/
.recherche{
    display: flex;
    flex-flow: wrap column;
    margin-left:2%;
}

form{
    display: flex;
    align-items: center;
}

.formulaire {
    height: 45px;
    font-size: 120%;
}

form i{
    padding:9px;
}

input[type=search]{
    border:1px solid #f1f1f1;
}

input[type=button]{
    border-radius: 0 10px 10px 0;
    color:white;
    background-color: #0068fc;
    border:none;
}

input[type=placeholder]{
    border:1px solid #f2f2f2;
}

i.fa-map-marker-alt{
    border-radius:10px 0 0 10px;
    border:1px solid #f2f2f2;
    background-color: #f2f2f2;
}

i.fa-search{
    border: 1px solid #0068fc;
    border-radius: 10px;
    background-color: #0068fc;
    color: white;
    position: relative;

    left: -1%;
    display: none;
}

.filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin:2% 0;
}

.flt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    margin-left: 3%;
    border-radius: 25px
}

.flt h2{
    margin: 1%;
}

.flt i{
    border-radius: 25px;
    border: 1px solid #DEEBFF;
    padding: 8px;
    margin: -5%;
    color:#0068fc;
    background-color:#DEEBFF ;
}

.flt i:hover{
    border-radius: 25px;
    border: 1px solid #DEEBFF;
    padding: 8px;
    margin: -5%;
    color:#DEEBFF;
    background-color:#0068fc ;
}

.fa-info{
    border-radius: 50%;
    border:1px solid #f2f2f2;
    padding:5px 10px 5px 10px;
    color:#0068fc
}
/***********************************************************/
#hebergements{
    display: flex;
    justify-content: space-between;
    margin:2%
}
/************************************************************/

.hebergement{
    border-radius: 15px;
    background-color: #f2f2f2;
    border:1px solid black;
}

.hebergement h1, .hebergement p {
    font-size: 100%;
}
/***********************************************/
.carte {
    background-color: white;
    border-radius: 11px;
    box-shadow: 0 2px 13px 0 #b1b1b1;
}

.carte figure{
    margin:0;
}

.carte img {
    width: 100%;
    height: 94px;
    border-radius: 11px 11px 0 0;
    object-fit: cover;
    padding: 1.5%;
}

figcaption {
    padding-left: 5%;
    font-size: 60%;
}

figcaption h2 , figcaption p{
    margin:0;
}
/*****************************************************************/
.hebergementCarte{
    width:68%;
}

.hebergementCarte h1{
    padding: 2% 5%;
}

.itemHebergement{
    display: flex;
    flex-wrap: wrap;
}
.itemHebergement .carte {
    min-width: 28%;
    margin: 2%;
}

.itemHebergement {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    background-color: pink;
}

/********************************************************************/
.populaireCarte{
    display: flex;
    flex-direction: column;
    width:30%;
    
}

.itemPopulaire{
    background-color: pink;
}

.populaireCarte h1{
    display: flex;
    justify-content: space-between;
    padding:4%;
}

.itemPopulaire .carte{
    margin:6%;
}


.itemPopulaire .carte a{
    display: flex;
}

.itemPopulaire .carte img {
    border-radius: 11px 0 0 11px;
    width: 32%;
}



/*********************************************************************/
#activites h1{
margin-left:2%;
}

.activiteCarte{
    display: flex;
    justify-content: space-between;
    margin:2%;
    }

.activiteCarte .carte{
    border:none;
    width:15px;
}

.activiteCarte .imgFull img{
    padding:0;
    height:25px;
}

/*.element{
    background-color: white;
    border: black solid 1px;
    border-radius: 11px;
    box-shadow: 0 2px 13px 0 #b1b1b1;
    margin:2%;
    width:364px;
}

.element figure{
    margin:0;
}

.element img{
    width: 100%;
    height: 209px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.imgFull img{
    height: 1%;
}
/**********************************************************************/

footer{
    display: flex;
    background-color: #f2f2f2;
}

footer div{
    line-height: 2;
    width:100%;
}

footer h3{
    padding-left: 6.1%;
}

footer li{
    list-style-type: none;
}

/******************************************************/

@media screen and (max-width:992px){
    body{
        background-color:rgb(106, 150, 106);
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    header li {
        list-style-type: none;
        padding: 60px;
        
    }

    header li:hover {
        list-style-type: none;
        padding: 60px;
    }

    #hebergements{
        display: flex;
        flex-direction: column;
        margin:2% 0;
    }

    .hebergement{
        width:100%;
    }

    .hebergementCarte{
        order:2;
    }

    .populaireCarte {
        order:1;
    }

    .populaireCarte .carte{
        margin:2%;
    }

    aside {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}

@media screen and (max-width:768px){
    body{
        background-color:rgb(161, 125, 140);
        width:100%
    }

    header{
        justify-content: center;
    }

    header li:hover{
        list-style-type:none;
        border-top:0;
        border-bottom:1px solid #0068fc;
        padding:60px
    }

    .logo{
        width: 100%;
        text-align: center;
    }

    header nav{
        justify-content: center;
        border-bottom:3px solid #f2f2f2;
        width:100%;
    }

    header nav li:hover{
        border-bottom:3px solid #0068fc;
        width:100%;
    }

    #headerCont .promesse {
        width: 100%;
        margin: 5% 1%;
    }

    .filtres h1{
        width:100%;
        padding: 2% 0;
    }

    .flt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #f2f2f2;
        margin: 3%;
        border-radius: 25px;
    }

    input[type=button]{
        border-radius: 0 10px 10px 0;
        color:white;
        background-color: #0068fc;
        border:none;
        display: none;
    }

    i.fa-search{
        border-radius: 10px;
        background-color: #0068fc;
        color: white;
        position: relative;
        left: -2%;
        font-size: 158%;
        display: flex;
    }

    #hebergements {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .hebergementCarte {
        background-color: white;
        border-radius: 0;
        margin-top: 6%;
    }

    .populaireCarte{
        border-radius: 0;
    }

    .items{
        display: flex;
        margin:auto;
        
    }

    .activiteCarte{
        flex-direction: column;
    }

    footer{
        display: block;
    }

    footer h3 {
        padding-left: 5.1%;
    }
}