@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&family=Shrikhand&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color:black;
    box-sizing: border-box;
    margin:0;
}

p.logo {
    width: 8%;
    margin: 0 2%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: auto;
    flex-wrap: wrap;
}

div.promesse{
    width: 100%;
    margin: 0 2%;
}

header nav{
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    margin-top:0;
}

header li{
    padding:46px 28px;
}

header li:hover{
    border-top:1px solid #0068fc;
    padding:46px 28px;
}

a:hover{
    color:#0068fc;
    text-decoration: none;
}

/*******************************************************/

form{
    display: flex;
    width:17%;
    margin-bottom: 2%;
}

.formulaire{
    padding:15px;
    border:1px solid #f2f2f2;
}

i.fas.fa-map-marker-alt.formulaire{
border-radius:15px 0 0 15px;
background-color: #f2f2f2;
}

input[type="button"]{
border-radius: 0 15px 15px 0;
color:white;
background-color: #0068fc;
border:#0068fc;
}

input{
    font-weight: bold;
}

i.fas.fa-search.formulaire{
    border-radius: 15px;
    background-color: #0068fc;
    color:white;
    position: relative;
    left:-13px;
    display: none;
}

section.recherche{
    margin:2%;
}

div.filtres, div.flt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

div.flt{
    border:1px solid #f2f2f2;
    margin-left:2%;
    border-radius:22px;
    flex-wrap: nowrap;
}

div.flt h2{
    margin:0;
    padding:0 10px;
}

div.flt i{
    border:#DEEBFF 1px solid;
    border-radius: 25px;
    padding:12px;
    background-color:#DEEBFF ;
    color: #0068fc;
    margin-left:-3px;
}

i.fas.fa-child{
    padding:12px 14px
}

i.fas.fa-child:hover{
    padding:12px 14px
}

div.flt i:hover{
    border:#DEEBFF 1px solid;
    border-radius: 25px;
    padding:12px;
    background-color:#0068fc ;
    color: #DEEBFF;
    margin-left:-3px;
}

p.info{
    margin:2% 0;
}

i.fas.fa-info{
    border:1px solid #f2f2f2;
    border-radius: 20px;
    padding:5px 10px;
    color:#0068fc;
}

/**********************************************************/

section#hebergements{
    display: flex;
    justify-content: space-between;
    margin:2%;
}

div.hebergement{
    border-radius: 30px;
    background-color: #f2f2f2;
}

div.carte {
    margin: 2% auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 2px 13px 0 #b1b1b1;
}

figure{
    margin:1.5%;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}



figcaption{
    padding-left:25px;
    margin:auto;
}

figcaption h2{
    margin:0;
}

span.prix{
    font-weight: bold;
}

i.fas.fa-star{
    color:#0068fc;
}

i.fas.fa-star.icon{
    color:#f2f2f2
}

/********************************************************************/
div.hebergement.hebergementCarte{
    width:68%;
    padding:2%;
}

div.items.itemHebergement{
    display: flex;
    flex-wrap: wrap;
}

.itemHebergement .carte{
    width:30%;
}

.itemHebergement img{
    height:171px;
}

/*.hebergementCarte h1, .para{
    padding:0 4%;
}*/

.para{
    font-weight: bold;
}
/********************************************************************/

div.hebergement.populaireCarte{
    width:30%;
    padding:2%;
}

aside.items.itemPopulaire{
    display: flex;
    flex-direction: column;
}

.populaireCarte h1{
    display: flex;
    justify-content: space-between;
    padding:0 9%;
}

.itemPopulaire a{
    display: flex;
}
.itemPopulaire img {
    border-radius: 30px 0 0 30px;
    width: 164px;
    height: 200px;
}

.itemPopulaire .carte {
    width: 85%;
    border-radius: 30px;
    background-color: white;
}

.itemPopulaire figcaption{
    margin:2% auto
}

p.etoile{
    margin:0;
}
/*****************************************************************************/
section#activites{
    margin:2%;
}

div.items.activiteCarte{
    display: flex;
    justify-content: space-between;
}

.activiteCarte .carte{
    width:21%;
    margin:0;
}
.activiteCarte img{
    height:250px;
}

.activiteCarte figure{
    margin:0;
}

.activiteCarte figcaption{
    margin:2% auto;
}

.activiteCarte .imgG img {
    height: 562px;
}


#cartes{
    box-shadow: none;
}

.element {
    border-radius: 30px;
    height: 287px;
    box-shadow: 0 2px 13px 0 #b1b1b1;
}

.element img {
    height: 216px;
}

.elements {
    margin-top: 54px;
}
/***********************************************************************************/

footer{
    display: flex;
    background-color: #f2f2f2;
    padding:2% 0;
}

footer nav{
    line-height: 1.5;
}

footer div{
    width:100%
}

footer li{
    list-style: none;
}

footer h3{
    padding-left:39px;
    line-height: 3;
}
/***********************************************/

@media screen and (max-width:992px){
    body{
        background-color: rgb(181, 218, 205);
    }
    section#hebergements{
        flex-direction: column;
    }
    div.hebergement.hebergementCarte {
        width: 100%;
        order:2;
    }

    .itemHebergement .carte {
        width: 38%;
    }

    div.hebergement.populaireCarte {
        width: 100%;
        order:1;
        margin-bottom:30px;
    }

    .itemPopulaire .carte{
        width:62%;
        margin:5% auto;
    }

    .itemPopulaire figcaption{
        margin:2%;
    }

    div.items.activiteCarte {
        display: flex;
        flex-wrap: wrap;
    }

    .activiteCarte .carte {
        width: 43%;
        margin:3% 0;
    }
}

@media screen and (max-width:768px){
    body{
        background-color: rgb(224, 193, 193);
    }

    p.logo {
        width: 100%;
        margin: auto;
    }

    div.promesse {
        border-top: 2px solid #f2f2f2;
        padding: 20px;
        margin:0;
    }

    header nav{
        width:100%;
        justify-content: center;
    }

    header ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    header li {
        padding:0 28px;
    }

    header li:hover {
        border-bottom: 1px solid #0068fc;
        border-top: none;
        padding:0 28px;
    }
    input[type="button"]{
        border-radius: 0 15px 15px 0;
        color:white;
        background-color: #0068fc;
        display: none;
        }
        
    i.fas.fa-search.formulaire{
        border-radius: 15px;
        background-color: #0068fc;
        color:white;
        position: relative;
        left:-13px;
        display: flex;
    }

    section#hebergements{
        margin:0;
    }

    div.hebergement{
        border-radius:0;
        margin:auto;
    }

    div.items.itemHebergement, aside.items.itemPopulaire, aside.items.itemPopulaire{
        flex-direction: column;
    }

    .itemHebergement .carte{
        width:90%;
    }
    
    .itemPopulaire .carte {
        margin: 2% auto;
    }

    .activiteCarte .carte{
        width:90%;
    }

    .activiteCarte .imgG img {
        height: 250px;
    }

    footer{
        flex-direction: column;
    }


}