@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700;900&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between
}

nav a{
    color:black;
    text-decoration: none;
}

nav li{
    list-style-type:none;
}

header nav li{
    display: inline;
    border:1px solid black;
}
/****************************************************/
.recherche{
    display: flex;
    flex-flow: wrap column;
}

form{
    display: flex;
    align-items: center;
}

.formulaire{
    height:35px;
}
form i{
    padding:9px;
}

input[type=search]{
    border:1px solid #f1f1f1;
}

input[type=button]{
    border-radius: 0 10px 10px 0;
    color:white;
    background-color: #0068fc;
    border:none;
    display: none;
}

i.fa-map-marker-alt{
    border-radius:10px 0 0 10px;
    border:none;
    background-color: #f2f2f2;
}

i.fa-search{
    border: none;
    border-radius: 10px;
    background-color: #0068fc;
    color: white;
    position: relative;
    left: -1%;
}

.filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f2f2f2;
    margin-left: 3%;
    border-radius: 25px
}

.flt h2{
    margin: 1%;
}

.flt i{
    border-radius: 25px;
    border: 1px solid #DEEBFF;
    padding: 8px;
    margin: -5%;
    color:#0068fc;
    background-color:#DEEBFF ;
}

.flt i:hover{
    border-radius: 25px;
    border: 1px solid #DEEBFF;
    padding: 8px;
    margin: -5%;
    color:#DEEBFF;
    background-color:#0068fc ;
}

.hebergements{
    display: flex;
    border:1px solid green;
}

.carte{
    border:red 1px solid;
    border-radius: 15px;
    background-color: #f2f2f2;
}

.carteElement{
    display: flex;
    flex-wrap: wrap;
}


.items{
    background-color: white;
    border: black solid 1px;
    border-radius: 30px;
    box-shadow: 0 2px 13px 0 #b1b1b1;
    margin:2%;
    width:364px;
}

.items figure{
    margin:0;
}

.items img{
    width: 100%;
    height: 209px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    padding:1.5%;
}

/*a{
    color: black;
    text-decoration: none;
}

nav li{
    list-style-type: none;
}



header{
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
    justify-content:space-between;
}

/*header nav, p{
    margin:0
}

/*header nav{
    display: flex;
    align-items: center;
    justify-content: end;
    width:80%;
}

/*header nav ul{
    display: flex;
    margin-right: 71px;
}*/

/*header nav a{
    text-decoration: none;
    color:black;
}
/*header nav li {
    display: inline;
    padding: 23% 22px;
    list-style-type: none;
     margin-left: -25%; 
}*/

/*header nav li:hover {
    padding: 23% 22px;
    list-style-type: none;
    border-top: #0065fc 1px solid;
}

/******************************************************************************************/

/*section.recherche{
    display: flex;
    flex-wrap: wrap;
    border:1px solid black;
}

section form{
    display: flex;
}

form input[type=search]{
    padding: 0.5%;
    position: relative;
    left: -0.3%;
    
}

form input[type=button]{
    padding: 6.5%;
    border-radius: 0 11px 11px 0;
    position: relative;
    left: -0.8%;
    color:white;
    background-color: #0065fc;
    border:none;
}

form i.fa-map-marker-alt{
    border: 1px solid black;
    padding: 6.5%;
    border-radius: 11px 0 0 11px;
    position: relative;
    background-color: #f1f1f1;
}

form i.fa-search{
    border: 1px solid #f1f1f1;
    padding: 6.5%;
    border-radius: 11px;
    position: relative;
    left: -6.1%;
    background-color: #0065fc;
    color:white;
}

section.recherche .filtres{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

div.filtres h1{
    margin:0;
}

/*------------------------------------------------------------------------------------------*/

/*div.filtres .flt{
    display: flex;
    align-items: center;
    border:1px solid black;
    border-radius: 25px;
    margin:2%;
}

div.flt i{
    border:1px solid black;
    border-radius: 25px;
}

i.fa-money-bill-wave{
    padding:2%;
}

i.fa-child{
    padding:6% 8% 6% 8%;
}

i.fa-heart{
    padding:2%;
}

i.fa-dog{
    padding:2%;
}



/*************hebergements**********************************************************/
/*section.hebergements{
    display: flex;
    justify-content: space-between;
}

/*****************************************************************************************/

/*div.carte_hebergement{
    background-color: #f1f1f1;
    border-radius: 25px;
    margin:2%;
}

div.cartes_hebergements{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    border-radius:25px;
}

div.element_hebergement{
    background-color: white;
    /*border: green solid 1px;*//*
    border-radius: 30px;
    box-shadow: 0 2px 13px 0 #b1b1b1;
    margin:2%;
    width:364px;
}

div.carte_hebergement h1, div.carte_hebergement p{
    margin:2%;
}

div.element_hebergement figure{
    margin:0;
}

div.cartes_hebergements img{
    width: 100%;
    height: 209px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    padding:1.5%;
}

figcaption h2, figcaption p, figcaption span.etoile{
    margin:0;
    padding-left:5%;
}

/****************aside**********************************************/
/*aside{
    background-color: #f1f1f1;
    border-radius: 25px;
    margin: 2% 2% 0 0%;
}

div.carte_aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h1{
    display: flex;
    justify-content: space-between;
    margin:2%;
}

div.element_populaire{
    width:408px;
    border: solid 1px green;
    border-radius: 30px;
    box-shadow: 0 2px 13px 0 #b1b1b1;
    margin:2%;
    background-color: white;
}

div.element_populaire figure{
    margin:0;
}

/*div.element_populaire a{
    margin:0;
    d*//*
div.element_populaire img{
    width: 150px;
    height: 202px;
    object-fit: cover;
    border-radius: 30px 0 0 31px;
    padding: 1.5%;
}
/************************************activite**********************************************************/
/*div.carte_activite{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   }

div.element_activite1, div.element_activite3{
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 2px 13px 0 grey;
    margin:0;
}

div.element_activite1 img, div.element_activite3 img{
    width:100%;
    height:460px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

div.element_activite figure{
    margin: 0;
}

div.element_activite2, div.element_activite4{
    margin:0;
}

div.element{
    width: 350px;
    border-radius: 30px;
    box-shadow: 0 2px 13px 0 grey;
    margin:0;
    margin-bottom:5%;
}

div.element img{
    width:100%;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

/*******************************footer****************************************************************/
/*footer{
    display: flex;
    /* flex-wrap: wrap; *//*
    background-color: #f1f1f1;
    justify-content: space-between;
    padding: 1%;
}

/*footer nav a{
    text-decoration: none;
    color:black;
}

footer li{
    list-style-type: none;
}

/*footer nav{
    border:black 1px solid;
}*/

/*footer nav ul{
    padding:0;
    margin:1% 0;
}*/

/*footer div{
    width:100%;
}


@media screen and (max-width:992px){
    body{
        background-color:rgb(106, 150, 106);
    }
}

@media screen and (max-width:768px){
    body{
        background-color:rgb(161, 125, 140);
        width:100%
    }

    header{
        justify-content: center;
    }

    /*header nav {
        display: block;
        border-bottom: black 2px solid;
        width:100%;
    }
    header nav ul {
        display: flex;
        padding:0;
        margin:0;
    }

    header nav li {
        padding: 2%;
        margin: auto;
        
    }

    header nav li:hover {
        padding:2%;
        margin: auto;
        border-top:none;
        border-bottom: #0065fc 1px solid;
    }*/

    /*div.carte_hebergement {
    background-color: white;
    border-radius: 0;
    margin: 0;
    order:2;
    }

    div.cartes_hebergements {
        background-color: white;
    }
    

    section.hebergements {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    aside {
        border-radius:15px ;
    }
    /*je mets un com*//*
}*/