*{
    box-sizing: border-box;
    color: black;
    list-style: none;
    text-decoration: none;
}

body{
    margin:0;
}

a:hover{
    color:#0068fc;
}

.img-rounded{
    border-radius:26px 26px 0 0;
}

.border-rounded{
    border-radius: 30px;
}

.border-shadow{
    box-shadow: 0 2px 13px 0 #b1b1b1;
}

.element-flex{
    display: flex;
}

section{
    margin:25px;
}

header{
    margin:0 25px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

table{
    border-spacing: 0;
}

table td{
    padding:53px 15px;
}

table td:hover{
    border-top:1px solid #0068fc;
    padding:53px 15px;
}

p.item-3{
    width:100%;
}

.item-3{
    width:100%;
}

/**************************************************************************/
section.recherche{
    margin: 0 25px 25px 25px;
}

.formulaire{
    padding:15px;
    border:1px solid #f2f2f2;
}

i.fas.fa-map-marker-alt.formulaire{
    border-radius:15px 0 0 15px;
    background-color: #f2f2f2;
}

input[type="button"]{
    border-radius: 0 15px 15px 0;
    color:white;
    background-color: #0068fc;
    border:#0068fc;
}

input{
    font-weight: bold;
}

i.fas.fa-search.formulaire{
    border-radius: 15px;
    background-color: #0068fc;
    color:white;
    position: relative;
    left:-13px;
    display: none;
}
div.filtres, div.flt{
    align-items: center;
    flex-wrap: wrap;
}

div.filtres h1{
    padding:0;
}

div.flt{
    border:1px solid #f2f2f2;
    margin-left:2%;
    border-radius:22px;
    flex-wrap: nowrap;
}

div.flt h2{
    padding:0 10px;
    margin:0;
}

div.flt i{
    border:#DEEBFF 1px solid;
    border-radius: 25px;
    padding:12px;
    background-color:#DEEBFF ;
    color: #0068fc;
    margin-left:-3px;
}

div.flt i:hover{
    border:#DEEBFF 1px solid;
    border-radius: 25px;
    padding:12px;
    background-color:#0068fc ;
    color: #DEEBFF;
    margin-left:-3px;
}

i.fas.fa-child{
    padding:12px 14px
}

i.fas.fa-child:hover{
    padding:12px 14px
}

.info{
    align-items: center;
}

.info p{
    margin-left:10px;
}

i.fas.fa-info{
    border:1px solid #f2f2f2;
    border-radius: 20px;
    padding:5px 10px;
    color:#0068fc;
}

#hebergements{
    flex-wrap: wrap;
    justify-content: space-between;
}

.card img{
    width: 100%;
    height:160px;
    object-fit: cover;
}

.card{
    
    padding:5px;
    background-color: white;
}

figure{
    margin:0
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:68%;
    background-color: #f2f2f2;
    padding:25px;
}

.cards h1{
    width:100%;
    justify-content:space-between;
}

.more{
    font-weight: bold;
    width: 100%;
    margin-left: 2%;
}

.cardHebergement{
    width:32%;
    margin:12px 0;
}

aside.cards{
    width:30%;
    flex-direction: column;
    padding:2%;
}

div.cardAside{
    width:100%;
    
}

.cardAside img {
    max-width: 38%;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
}

.cardAside figure{
    display: flex;
}

aside.cards h1{
    margin: 0 0 3.5% 0;
    font-size: x-large;
}

.cards figcaption{
    margin-left:3%;
}

figcaption h2, .cards figcaption p{
    margin:0;
}

figcaption p{
    line-height: 2;
}

span.prix{
    font-weight: bold;
}

i.fas.fa-star{
    color:#0068fc;
}

i.fas.fa-star.icon{
    color:#f2f2f2
}

/********************************************************************/

section#activites{
    flex-direction: column;
    margin: 25px 25px 50px 25px;
}

section#activites h1{
    padding-left: 0;
}
div.cards.cardActivite {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 0;
}

.cardActivite .card {
    width: 23%;
    padding:0;
    margin:0;
}

.cardActivite figcaption h2, .cardActivite figcaption p{
    margin:4% 0;
}

div.card.fullImg img {
    height: 536px;
}

div.card.littleImg{
    flex-direction: column;
}

div.element img{
    height:236px;
}

.element img {
    width: 100%;
}

div.element-1 img{
    height:263px;
}

div.element-2 img{
    height:160px;
}

.element-2{
    margin-top:50px;
}

div.element-3 img, div.element-4 img{
    height:210px;
}

.element-4{
    margin-top:53px;
}

.cardActivite figcaption {
    padding: 0% 3%;
}

footer{
    background-color: #f2f2f2;
    padding-top:25px;
}

footer nav{
    line-height: 1.5;
}

footer div{
    width:100%
}

footer h3{
    padding-left:39px;
}

/*************************************************************************/

@media screen and (max-width:992px){
   body{
       background-color: rgb(183, 183, 233);
   }

   section.recherche{
       margin:25px 25px 0 25px;
   }

    section#hebergements{
        flex-direction: column;
        margin:0;
    }

    div.cards{
        order:2;
        width:100%;
        border-radius:0;
    }

    .cardHebergement {
        width: 48%;
        margin: 12px 0;
    }

    aside.cards {
        order: 1;
        width: 100%;
        border-radius: 0;
        margin-bottom: 25px;
    }
    
    div.card.cardAside{
        margin:2% auto;
        width:52%;
        padding:0.5%;
    }

    div.cards.cardActivite{
        flex-wrap: wrap;
        background-color: white;
    }

    .cardActivite .card {
        width: 48%;
        padding: 0;
        margin: 25px 0px;
    }
}

@media screen and (max-width:768px){
   
    header, .cards, footer{
        flex-direction: column;
    }

    header, .filtres h1, div.cardActivite, footer{
        width:100%;
    }

    header{
        margin:0;
        align-items:flex-start;
    }

    nav.item-2{
        border-bottom: 2px solid #f2f2f2;
        width:100%;
    }

    .item-1{
        margin:auto;
    }

    .item-3{
        margin:2%;
    }

    table{
        width:100%;
    }

    table td{
        padding: 5px 11%;
    }
    
    table td:hover{
        border-top:none;
        border-bottom: 2px solid #0068fc;
        padding: 5px 16%;
    }

    input[type="button"]{
        border-radius: 0 15px 15px 0;
        color:white;
        background-color: #0068fc;
        display: none;
        }
        
    i.fas.fa-search.formulaire{
        border-radius: 15px;
        background-color: #0068fc;
        border:1px solid #0068fc;
        color:white;
        position: relative;
        left:-13px;
        display: flex;
    }

    .flt{
        margin:2% 0;
    }

   section#hebergements{
        margin:0;
    }

    div.cards{
        background-color: white;
    }
    .cardHebergement{
        width:100%;
    }

    .cardHebergement img, div.cardActivite img, div.card.fullImg img {
        width: 100%;
        height: 113px;
        object-fit: cover;
    }

    div.card.cardAside{
        width:100%;
    }

    .cardActivite .card {
        width: 100%;
    }
}